.button {
  min-width: 8rem;

  font-size: 1rem;
  font-family: var(--type-first);

  border: none;
  border-radius: 0.5rem;

  background-color: #fb1;
  color: #764701;

  padding: 0.8rem 1.25rem;
  box-sizing: border-box;

  cursor: pointer;
  transition: 0.1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}
