.feed {
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

.emptyListMessageContainer {
  padding-top: 6rem;
  text-align: center;

  display: grid;
  gap: 1rem;
}

.emptyListMessageContainer a {
  color: #0000ee;
}

.emptyListMessageContainer a:hover {
  text-decoration: underline;
}

@media (max-width: 40rem) {
  .feed {
    grid-template-columns: repeat(2, 1fr);
  }
}
