.wrapper {
  width: 100%;
  height: calc(100vh - 4rem - 2rem); /* 100vh - header - footer */

  display: grid;
  place-items: center;
}

.loading {
  margin: auto;
  padding-left: 5px;

  width: 80px;
  height: 80px;

  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
