.accountLayoutContentContainer {
  min-height: calc(
    100vh - 4rem - 5rem - 1rem - 2rem
  ); /* 100vh - header - account header - margin top account header - margin bottom account header */

  flex: 1; /* Preenche todo o corpo para o footer ficar sempre no final  */
}

.header {
  margin: 1rem 0 2rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
